annotated-types==0.8.0
appdirs==1.4.4
asciidoc==10.2.1
attrs==26.1.0
autocommand==2.2.2
Automat==25.4.16
beautifulsoup4==4.15.0
boolean.py==5.0
CacheControl==0.14.4
cbor2==6.1.4
certifi==2026.7.22
cffi==2.1.1
chardet==6.0.0.post1
charset-normalizer==3.4.7
click==8.3.3
constantly==23.10.4
cryptography==50.0.0
cssselect==1.5.0
dasbus==1.7
dbus-python==1.4.0
deluge==2.2.0
distlib==0.4.3
distro==1.9.0
evdev==1.9.3
filelock==3.29.3
GeoIP==1.3.2
gps==3.27.5
hyperlink==21.0.0
idna==3.18
ifaddr==0.2.0
Incremental==24.11.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
lensfun==0.3.4
libmsym==0.2.4
libtorrent==2.1.1
libvirt-python==12.6.0
license-expression==30.4.4
lit==22.1.8.dev0
louis==3.38.0
lxml==6.1.1
Mako==1.3.12.dev0
MarkupSafe==3.0.3
meson==1.12.0
more-itertools==11.1.0
msgpack==1.1.2
namcap==3.6.0
netsnmp-python==1.0a1
nftables==0.1
numpy==2.5.2
onboard==1.4.1
OpenTimelineIO==0.18.1
packaging==26.3
pexpect==4.9.0
pillow==12.3.0
pkg_resources==81.0.0
platformdirs==4.11.2
psutil==7.2.2
ptyprocess==0.7.0
pyaaf2==1.7.1
pyalpm==0.11.1
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycairo==1.29.1
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyelftools==0.33
pygdbmi==0.11.0.0
PyGObject==3.56.3
pyOpenSSL==26.4.0
pyserial==3.5
PySide6==6.11.1
python-discovery==1.5.1
python-xlib==0.33
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
pyzstd==0.19.1
QtPy==2.4.3
rencode==1.0.8
requests==2.34.2
scour==0.38.2
sentry-sdk==2.68.0
service-identity==26.1.0
setproctitle==1.3.7
setuptools==84.0.0
shiboken6==6.11.1
six==1.17.0
smbus==1.1
solaar==1.1.20
soupsieve==2.9.2
spglib==2.7.1.dev0+g12355c77f.d20260527
TBB @ file:///build/onetbb/src/build/python/python_build
tinycss2==1.5.1
tqdm==4.70.0
Twisted==26.4.0
typing-inspection==0.4.4
typing_extensions==4.16.0
umu-launcher==1.4.4
urllib3==2.7.0
VapourSynth==77
virtualenv==21.7.4
webencodings==0.5.1
wheel==0.48.0
wxPython==4.2.5
xxhash==3.8.1
yt-dlp==2026.7.4
yt-dlp-ejs==0.8.0
ytmusicapi==1.12.2
zope.interface==8.5
zstandard==0.25.0
